# Inventory
SERVICE_PORT=${INVENTORY_SERVICE_PORT}
SERVICE_ADDRESS=${INVENTORY_SERVICE_ADDRESS}

# MongoDB
MONGO_HOST=${INVENTORY_MONGO_HOST}
MONGO_PORT=${INVENTORY_MONGO_PORT}

MONGO_INITDB_DATABASE=${INVENTORY_MONGO_NAME}
MONGO_INITDB_ROOT_USERNAME=${INVENTORY_MONGO_DEFAULT_USER}
MONGO_INITDB_ROOT_PASSWORD=${INVENTORY_MONGO_DEFAULT_PASSWORD}

MONGO_URI=${INVENTORY_MONGO_URI}