# Kafka
KAFKA_BROKERS=${NOTIFICATION_KAFKA_BROKERS}
ORDER_PAID_TOPIC_NAME=${NOTIFICATION_ORDER_PAID_TOPIC_NAME}
ORDER_PAID_CONSUMER_GROUP_ID=${NOTIFICATION_ORDER_PAID_CONSUMER_GROUP_ID}
SHIP_ASSEMBLED_TOPIC_NAME=${NOTIFICATION_SHIP_ASSEMBLED_TOPIC_NAME}
SHIP_ASSEMBLED_CONSUMER_GROUP_ID=${NOTIFICATION_SHIP_ASSEMBLED_CONSUMER_GROUP_ID}

# Telegram bot
TELEGRAM_BOT_TOKEN=${NOTIFICATION_TELEGRAM_BOT_TOKEN}
TELEGRAM_CHAT_ID=${NOTIFICATION_TELEGRAM_CHAT_ID}

# Logger
LOGGER_LEVEL=${LOGGER_LEVEL}
LOGGER_AS_JSON=${LOGGER_AS_JSON}