# Order
SERVICE_URL=${ORDER_SERVICE_URL}
SERVICE_PORT=${ORDER_SERVICE_PORT}
MIGRATIONS_DIR=${ORDER_MIGRATIONS_DIR}

# Postgres
POSTGRE_PORT=${ORDER_POSTGRE_PORT}
POSTGRE_HOST=${ORDER_POSTGRE_HOST}
POSTGRE_URI=${ORDER_POSTGRE_URI}
POSTGRES_USER=${ORDER_POSTGRE_DEFAULT_USER}
POSTGRES_PASSWORD=${ORDER_POSTGRE_DEFAULT_PASSWORD}

# Clients services
INVENTORY_SERVICE_ADDRESS=${INVENTORY_SERVICE_ADDRESS}
PAYMENT_SERVICE_ADDRESS=${PAYMENT_SERVICE_ADDRESS}
