services:
  postgres-order:
    image: postgres:17.0-alpine3.20
    container_name: postgres-order

    env_file:
      - .env

    volumes:
      - postgres_order_data:/var/lib/postgresql/data

    ports:
      - ${POSTGRES_PORT}:5432

    restart: unless-stopped

    networks:
      - microservices-net

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_order_data:

networks:
  microservices-net:
    name: microservices-net
    external: true
